ul > li {
    list-style-type none
}

.contains-task-list LI {
	list-style-type none
} 

.badge.warning {
    background-color #ffca11
}

.term 
    color #282c34 !important
    font-style italic !important
    font-weight 300 !important



.term-not-found 
 color #E14E4D !important


.boxed
    border 0.5px solid $borderColor
    padding 1rem

.scrumfooter
    font-size 0.7rem
    color #010203 !important
    font-style italic !important
    font-weight 300 !important
    border 0.5px solid $borderColor
    padding 1rem


.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    text-decoration: none;
}