// colors
$accentColor = #347CDA
$textColor = #010203
$borderColor = lighten(#5A5E61, 80%)
$codeBgColor = #282c34
$arrowBgColor = #5A5E61
$badgeSuccessColor = #98DB35
$badgeTipColor = #DA347C
$badgeWarningColor = #ffa211
$badgeErrorColor = #E14E4D
$nprogressColor = #98DB35
$readingProgressImage = #347CDA

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px